{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
  },
  "globals": {
    "console": true,
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": [0, "stroustrup", { "allowSingleLine": true }],
    "camelcase": 2,
    "consistent-return": 1,
    "curly": 2,
    "default-case": 1,
    "dot-notation": 1,
    "eol-last": 2,
    "eqeqeq": 2,
    "func-names": 0,
    "func-style": [2, "declaration"],
    "global-strict": [2, "always"],
    "guard-for-in": 2,
    "max-len": [1, 80, 4],
    "new-parens": 2,
    "no-bitwise": 2,
    "no-catch-shadow": 1,
    "no-console": 0,
    "no-div-regex": 2,
    "no-else-return": 1,
    "no-eq-null": 1,
    "no-extend-native": 2,
    "no-extra-bind": 1,
    "no-extra-strict": 2,
    "no-fallthrough": 1,
    "no-floating-decimal": 2,
    "no-lone-blocks": 2,
    "no-lonely-if": 1,
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-str": 1,
    "no-native-reassign": 2,
    "no-nested-ternary": 2,
    "no-new-func": 2,
    "no-new-object": 1,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-plusplus": 0,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-space-before-semi": 1,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-expressions": 2,
    "no-use-before-define": 2,
    "no-void": 2,
    "no-with": 2,
    "no-wrap-func": 1,
    "one-var": false,
    "quote-props": 0,
    "quotes": [1, "single"],
    "radix": 2,
    "semi": [2, "always"],
    "space-after-keywords": 1,
    "space-in-brackets": [0, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "strict": 1,
    "wrap-iife": [2, "outside"],
    "wrap-regex": 1,
    "yoda": "never",
  }
}
